{% extends 'base.html.twig' %}

{% block title %}Ajouter un emplacement{% endblock %}

{% block body %}

<section class="support_view">
  <div class="container_view flex-height flex-column justify-content-center">
    <div class="info_articles p-3">
      <p><i class="fas fa-quote-right mr-1"></i>Un emplacement définit un code-barre d'emplacement pour situer les différents articles en stock.</p>
    </div>

    <div class="w-100">
      <div class="d-flex justify-content-center mt-4">
        <div class="mid-form">
          {{ form_start(form) }}
            <div class="form-group">
              <label class="required" for="emplacement_site">Site</label>
              <select id="emplacement_site" name="siteId" class="form-control">
              {% for site in sites %}
                <option value="{{ site.id }}">{{ site.description }}</option>
              {% endfor %}
              </select>
            </div>

            {{ form_widget(form.save, { 'label': 'Enregistrer' }) }}

            <div class="my-custom-class-for-errors">
              {{ form_errors(form) }}
            </div>
          {{ form_end(form) }}
        </div>
      </div>
    </div>
  </div>
</section>

{% set modal = 0 %}
{% for message in app.flashes('newBarcode') %}
  {% set modal = message %}
{% endfor %}

<!-- Modal -->
<div class="modal {% if modal > 0 %} show {% else %} hide {% endif %}" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Emplacement ajouté</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Code-barres : <span id="idLocation">{{ modal }}</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" onClick="hideModal()">Fermer</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
