{% extends 'base.html.twig' %}

{% block title %}Hello ScootController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
<<<<<<< HEAD
        <li>Your controller at <code><a href="{{ 'C:/wamp64/www/SGDF_Nevers/src/Controller/ScootController.php'|file_link(0) }}">src/Controller/ScootController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/wamp64/www/SGDF_Nevers/templates/scoot/index.html.twig'|file_link(0) }}">templates/scoot/index.html.twig</a></code></li>
=======
        <li>Your controller at <code><a href="{{ 'C:/wamp64/www/eddy/SGDF_Nevers/src/Controller/ScootController.php'|file_link(0) }}">src/Controller/ScootController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/wamp64/www/eddy/SGDF_Nevers/templates/scoot/index.html.twig'|file_link(0) }}">templates/scoot/index.html.twig</a></code></li>
>>>>>>> d9701f042036641469f60c5baa8402a149189509
    </ul>
</div>
{% endblock %}
