{% extends 'base.html.twig' %}

{% block title %}Inventaire{% endblock %}

{% block body %}
    <!-- Inventaire-->

    <section class="support_view">
      <div class="container_view">
            <nav class="container_button">
    <div class="card border-primary mb-3" style="max-width: 60rem;">
              <div class="card-header">Pour commencer, je crée mes objets </div>

    <div class="card-body">
    <section>
      <div class="container">
        <div class="form-group">
          {{ form_start(form) }}
            <div class="my-custom-class-for-errors">
                {{ form_errors(form) }}
            </div>
            <div
              {{form_row(form.titre)}}
              {{form_row(form.description)}}
              {{form_row(form.pcb)}}

              <div class="row">
                <div class="margeButton col-5 ">
                  <button type="submit" class="btn btn-primary"> photos <i class="fas fa-camera"></i> </button>
                </div>
                <div class="col-5">
                  {{form_row(form.photo)}}
                </div>
          

          <div class="col-md-12 text-center">
            <button type="submit" class="btn btn-primary">ENREGISTRER</button>
          </div>
{{ form_end(form) }}
</div>
  </div>



  </section>


  </div>

    </section>

    <!-- footer -->
    <footer>

    </footer>

{% endblock %}
