{% extends 'base.html.twig' %}

{% block title %}Inventaire{% endblock %}

{% block body %}

    <!-- header -->
    <header>
        <nav>

            <div class="dropdown display:inline-block">
                <i onclick="myFunction()" class="fas fa-user dropbtn"></i>

                <div id="myDropdown" class="dropdown-content">
                  <a href="#">Déconexion</a>
                </div>
          </div>
        </div>




          {# <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <h3 class="inventaire">INVENTAIRE <span class="sr-only">(current)</h3>
          </div> #}
        </nav>

            {# <div class="dropdown">
                <i onclick="myFunction()" class="fas fa-user dropbtn"></i>
                <div id="myDropdown" class="dropdown-content">
                  <a href="#">Déconexion</a>
                </div>
            </div>
        </nav> #}
    </header>

    <!-- Inventaire-->

    <section class="support_view">
      <div class="container_view">
            <nav class="container_button">

            <div class="card border-primary mb-3" style="max-width: 60rem;">
  <div class="card-header">Pour commencer, je crée mes objets </div>
  <div class="card-body text-primary">

  <section>

    <div class="container">
        {{ form_start(form) }}
            <div class="my-custom-class-for-errors">
                {{ form_errors(form) }}
            </div>

          <div class="row">
            <div class="form-group">
              {{ form_label(form.titre) }}
              {{ form_widget(form.titre, {'attr':{'class':'form-control'}}) }}
              {{ form_errors(form.titre) }}
            </div>

            <div class="form-group" >
            {{ form_label(form.description) }}
            {{ form_widget(form.description) }}
            {{ form_errors(form.description) }}
            </div>

            <div class="form-group">
            {{ form_label(form.photo) }}
            {{ form_widget(form.photo) }}
            {{ form_errors(form.photo) }}
            </div>
        </div>

            <button type="submit" class="btn btn-primary">ENREGISTRER</button>
{{ form_end(form) }}
  </div>



  </section>


  </div>

    </section>

    <!-- footer -->
    <footer>

    </footer>
{% endblock %}
