{% extends 'base.html.twig' %}

{% block title %}Restituer{% endblock %}

{% block body %}

<section class="support_view">
  <div id="containerElt" class="container_view">
    <div class="mt-3 flex-height d-flex flex-column justify-content-center">
      <div class="content_restituer_articles">
        {% if objectsByEmplacement|length > 0 %}
        <div class="centrer p-3">
          <p><i class="fas fa-quote-right mr-1"></i>Après chaque sortie, je ramène le matériel à l'entrepôt.<br>Je scan mon article et je le dépose au bon emplacement.</p>
        </div>
        <form class="w-100" method="POST">
          <div class="content_restituer_list_articles">
            <div class="table_container mt-5">
              <div class="table_container_color w-100 height_table_historique">
                <table class="table_articles">
                  <thead class="head_table_restituer">
                    <tr>
                      <th>Liste de mes emprunts</th>
                    </tr>
                  </thead>
                  <tbody class="body_table_restituer">
                    <!-- Listing all emplacements -->
                    {% for keyEmplacement, emplacement in objectsByEmplacement %}
                      <tr class="bar-default" id="el1"><!-- rajouter la class "bar-success" lors de la validation -->
                          <th>
                            <div class="scan-in-progress"> <!-- par default "display: flex;" || rajouter la class "d-none" lors de la validation -->
                              <i class="fas fa-boxes"></i>
                              <div class="w-100">
                                <table class="w-100">
                                  <thead class="head_table_restituer_articles">
                                    <tr class="row_table_articles_restituer">
                                      <th>Article(s)</th>
                                      <th class="w-50">Etat antérieur</th>
                                      <th>Etat actuel</th>
                                    </tr>
                                  </thead>
                                  <tbody>

                                  <!-- Listing all articles from an emplacement -->
                                  {% for objects in emplacement %}
                                    {% for article in objects.listArticles %}
                                      <tr class="row_table_articles_restituer">
                                        <th>{{ objects.titre }} - N° {{ article.id }}</th>
                                        <th class="w-50">
                                          {{ article.etat }}
                                        </th>
                                        <th>
                                          <select name="newState{{ article.id }}">
                                            <option value="5" {% if article.etat == "Neuf" %}selected="selected"{% endif %}>Neuf</option>
                                            <option value="4" {% if article.etat == "Bon" %}selected="selected"{% endif %}>Bon</option>
                                            <option value="3" {% if article.etat == "Moyen" %}selected="selected"{% endif %}>Moyen</option>
                                            <option value="2" {% if article.etat == "Défectueux" %}selected="selected"{% endif %}>Défectueux</option>
                                            <option value="1" {% if article.etat == "Incomplet" %}selected="selected"{% endif %}>Incomplet</option>
                                          </select>
                                        </th>
                                      </tr>
                                    {% endfor %}
                                  {% endfor %}

                                  </tbody>
                                </table>
                              </div>
                              <div class="scan_articles_restituer">
                                <input id="codebar{{ keyEmplacement }}" data-id-required="1" class="input_style_restituer" type="text" name="codebar{{ keyEmplacement }}" placeholder="CAB à scan : {{ keyEmplacement }}" oninput="verifyScanRestituer(this, {{ keyEmplacement }})" required>
                                <a onClick="initScan({{ keyEmplacement }})" class="h-30px button-scan input_button">
                                    <div class="button_scan_restituer m-0"></div>
                                </a>
                              </div>
                              <div class="check-box-success">
                                <i class="fas fa-check check-success d-none"></i>
                              </div>
                            </div>
                        </th>
                      </tr>
                    {% endfor %}
                  </tbody>
                  <tfoot class="position-relative">
                    <tr>
                      <th scope="row"><div class="button_confirm_restituer">
                        <input class="button_style w-150px submit_search_article color_button" type="submit" name="Envoyer" value="Restituer">
                      </div></th>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
        </form>
        {% else %}
        <div class="info_articles p-3">
          <p><i class="fas fa-quote-right mr-1"></i>Vous n'avez aucun retrait à effectuer.</p>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
{% endblock %}
