{% extends 'base.html.twig' %}

{% block title %}Retrait{% endblock %}

{% block body %}

<section class="support_view">
    <div class="container_view">
      <div class="mt-3 flex-height d-flex flex-column justify-content-center">
        <div class="content_restituer_articles">
          <div class="info_articles p-3">
            <p><i class="fas fa-quote-right mr-1"></i>Scannez vos articles ou rentrez manuellement le code à chiffre (sous le code barre), puis attendez la confirmation.</p>
          </div>
          <!-- List of articles to withdraw -->
          <form method="POST">

          <div class="content_restituer_list_articles">
            <div class="table_container mt-5">
              <div class="table_container_color w-100 height_table_historique">
                <table class="table_articles">
                  <thead class="head_table_resistuer">
                    <tr>
                      <th>Articles à retirer</th>
                    </tr>
                  </thead>
                  <tbody class="body_table_restituer">


                              {% for article in articles %}
                              <tr class="bar-default" id="el{{ loop.index }}"><!-- rajouter la class "bar-success" lors de la validation -->
                                  <th class="plr-6">
                                    <div class="scan-in-progress"> <!-- par default "display: flex;" || rajouter la class "d-none" lors de la validation -->
                                      <i class="fas fa-boxes"></i>
                                      <div class="">
                                        <p>Article(s)<strong>id</strong></p>
                                        <p>{{ article.titre }}<strong>21</strong></p>
                                      </div>
                                        <p>Quantités <span>{{ article.quantite }}</span></p>
                                      <div class="scan_articles_resituer">
                                          <input id="codebar{{ loop.index }}" data-id-required="{{ article.emplacement_id }}" class="input_style_restituer" type="text" name="codebar{{ loop.index }}" placeholder="CAB à scanné :{{ article.emplacement_id }}" oninput="verifyScan(this, {{ loop.index }})" required>
                                          <a onClick="initScan({{ loop.index }})" class="button-scan input_button">
                                              <div class="button_scan_restituer m-0"></div>
                                          </a>
                                      </div>
                                      <div class="check-box-success">
                                      </div>
                                    </div>
                                    <div class="d-none scan-success"> <!-- par default en display: none;  || enlever la class "d-none" lors de la validation -->
                                      <p>Article scanné avec succès!</p>
                                      <button type="button" name="button" class="button_success button_style">ok</button>
                                      <div class="check-box-success">
                                        <i class="fas fa-check check-success"></i>
                                      </div>
                                    </div>
                                </th>
                              </tr>
                              {% endfor %}

                              <!-- Exemple -->
                              <tr class="bar-default"><!-- rajouter la class "bar-success" lors de la validation -->
                                  <th class="plr-6">
                                    <div class="scan-in-progress"> <!-- par default "display: flex;" || rajouter la class "d-none" lors de la validation -->
                                      <i class="fas fa-boxes"></i>
                                      <div class="">
                                        <p>Article(s)<strong>id</strong></p>
                                         <p>Pelle<strong>22</strong></p>
                                      </div>
                                        <p>Quantités <span>12</span></p>
                                      <div class="scan_articles_resituer">
                                          <input class="input_style_restituer" type="text" name="" value="" placeholder="CAB à scanné :" required>
                                          <a href="#" class="button-scan input_button">
                                              <div class="button_scan_restituer m-0"></div>
                                          </a>
                                      </div>
                                      <div class="check-box-success">
                                      </div>
                                    </div>
                                    <div class="d-none scan-success"> <!-- par default en display: none;  || enlever la class "d-none" lors de la validation -->
                                      <p>Article scanné avec succès!</p>
                                      <button type="button" name="button" class="button_success button_style">ok</button>
                                      <div class="check-box-success">
                                        <i class="fas fa-check check-success"></i>
                                      </div>
                                    </div>
                                </th>
                              </tr>

                  </tbody>
                  <tfoot class="position-relative">
                    <tr>
                      <th scope="row"><div class="button_confirm_restituer">
                        <input class="button_style w-150px submit_search_article color_button" type="submit" name="Envoyer"></input>
                      </div></th>
                   </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Scanner -->
  <div id="barcode-scanner">
    <video src=""></video>
    <canvas class="drawingBuffer"></canvas>
  </div>
</section>
<script src="/js/scan_articles.js"></script>
{% include 'components/footer.html.twig' %}
{% endblock %}
