{% extends 'base.html.twig' %}

{% block title %}Inventaire{% endblock %}

{% block body %}


          <div class="support_view">
            <div class="container_view">
                  <nav class="container_button">
                  <div class="card border-primary mb-3" style="max-width: 60rem;">
                      <h4> Ajouter des articles </h4>
                      <div class="container">
                      <div class="form-group">

                             <div class="card mb-3 border-0" style="width: 20rem;">
                                      {{ form_start(form) }}
                                      <div class="my-custom-class-for-errors">
                                          {{ form_errors(form) }}
                                      </div>
                                      <div class="row">
                                        <div class="col">
                                          {{form_label(form.objet)}}
                                        </div>
                                        <div class="col">
                                          {{form_widget(form.objet)}}
                                          {{form_errors(form.objet)}}
                                        </div>
                                      </div>
                                        <div class="row">
                                          <div class="col">
                                            {{form_label(form.peremption)}}
                                          </div>
                                          <div class="col">
                                            {{form_widget(form.peremption)}}
                                          </div>
                                        </div>



                                          {{ form_end(form) }}


                         </div>
                         <div class="row inputsaisiarticle">
                           <div class="col">
                             <span> état </span>
                           </div>
                           <div class="col">
                             <span> quantitées </span>
                           </div>
                         </div>
                         <div class="row inputsaisiarticle">
                           <div class="col">
                             <span> neuf </span>
                           </div>
                           <div class="col">
                           <input type="text" id="name" name="name" required
                           minlength="0" maxlength="3" size="10">
                           </div>
                         </div>
                         <div class="row inputsaisiarticle">
                           <div class="col">
                             <span> bon </span>
                           </div>
                           <div class="col">
                             <span> <input type="text" id="name" name="name" required
                             minlength="0" maxlength="3" size="10"> </span>
                           </div>
                         </div>
                         <div class="row inputsaisiarticle">
                           <div class="col">
                             <span> moyen </span>
                           </div>
                           <div class="col">
                           <input type="text" id="name" name="name" required
                           minlength="0" maxlength="3" size="10">
                           </div>
                         </div>
                         <div class="row inputsaisiarticle">
                           <div class="col">
                             <span> defectueux </span>
                           </div>
                           <div class="col">
                           <input type="text" id="name" name="name" required
                           minlength="0" maxlength="3" size="10">
                           </div>
                         </div>
                         <div class="row inputsaisiarticle">
                          <div class="col">
                            <span> incomplet </span>
                          </div>
                          <div class="col">
                          <input type="text" id="name" name="name" required
                          minlength="0" maxlength="3" size="10">
                          </div>
                          </div>
                          <div class="margeButton ajouter ">
                            <button type="submit" class="btn btn-primary pull-right"> AJOUTER </button>
                          </div>
                          </div>





                      </div>
                  </div>
            </div>
          </div>



<!-- footer -->
<footer>

</footer>
{% endblock %}
